::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #cfcfcf;
}

::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}

.movie-img {
  border-radius: 20px;
  height: 300px;
  margin-bottom: 10px;
}

.movie-img:hover {
  transform: scale(1.05);
}
